@font-face {
	font-family: 'Futura PT Cond Bold';
	src: url('../font/futura_pt_cond_bold.eot'); 
	src: url('../font/futura_pt_cond_bold.eot?#iefix') format('embedded-opentype'),
		url('../font/futura_pt_cond_bold.woff2') format('woff2'),
		url('../font/futura_pt_cond_bold.woff') format('woff'),
		url('../font/futura_pt_cond_bold.ttf') format('truetype'),
		url('../font/futura_pt_cond_bold.svg#futura_pt_cond_bold') format('svg');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
}

@font-face {
	font-family: 'Futura PT Cond Medium';
	src: url('../font/futura_pt_cond_medium.eot');
	src: url('../font/futura_pt_cond_medium.eot?#iefix') format('embedded-opentype'),
		url('../font/futura_pt_cond_medium.woff2') format('woff2'),
		url('../font/futura_pt_cond_medium.woff') format('woff'),
		url('../font/futura_pt_cond_medium.ttf') format('truetype'),
		url('../font/futura_pt_cond_medium.svg#futura_pt_cond_medium') format('svg');
        font-weight: 450;
        font-style: normal;
        font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: #E5E5E5;
}

h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #243433;
}

img{
    width: 35.87px;
    height: 15.97px;
}

.badge{
    margin-top: 10px;
    text-align: center;
}

.rate-item{
    display: flex;
    justify-content: center;
}
.item{
    margin: 63px 30px 0px 0px;
    width: 350px;
    height: 456px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08), 0px 4px 20px rgba(22, 48, 47, 0.17);

}

.item:last-child{
    margin: 63px 0px 0px 0px;
}

.header-item{
    width: 350px;
    height: 125px;
    background-color: #006964;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    }
}

.price{
    font-family: 'Futura PT Cond Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
}

.header-item-text{
    font-family: 'Futura PT Cond Medium';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 140%;
}

.item-content{
    display: flex;
    height: 331px;
    flex-direction: column;
    align-items: center;
}

.ul-title{
    font-family: 'Futura PT Cond Bold';
    margin-top: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #006964;
}

ul{
    margin-top: 20px;
    list-style: disc;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Futura PT Cond Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #243433;
}

a{
    margin-top: 55px;
    display: inline-block;
    padding: 11px 74px;
    text-decoration: none;
    font-family: 'Futura PT Cond Medium';
    font-style: normal;
    font-weight: 450;
    font-size: 17px;
    color: #fff;
    background: #006964;
    text-align: center;
}